In [2]:
import pandas as pd

In [3]:
rip =pd.read_csv("C:/Users/isaw9/OneDrive/Escritorio/ADALAB/cementerios2024.csv")

In [4]:
rip.head()

,codigo_provincia,codigo_municipio,nombre,titularidad,distancia_nucleo,estado_acceso,capilla,deposito_cadaveres,posibilidad_ampliacion,grado_saturacion,superficie,crematorio,acceso_silla_ruedas
0,6,1,CEMENTERIO MUNICIPAL,MU,1.4,B,MO,NO,SI,60,2238,NO,NO
1,6,1,CEMENTERIO MUNICIPAL,MU,0.6,B,MO,NO,SI,80,1351,NO,SI
2,6,2,CEMENTERIO MUNICIPAL,MU,0.1,B,MO,NO,SI,75,8660,NO,SI
3,6,3,CEMENTERIO MUNICIPAL,MU,0.5,B,MO,SI,NO,68,5017,NO,SI
4,6,4,CEMENTERIO MUNICIPAL,MU,0.5,B,NO,NO,SI,60,5399,NO,SI

- Conocer los códigos de municipio, qué municipio es? Provincia 6: Badajoz, podemos descartar la columna.
- ¿Qué es titularidad?
- Parece que la estructura general de los datos está bien.

In [5]:
rip.columns

Index(['codigo_provincia', 'codigo_municipio', 'nombre', 'titularidad',
       'distancia_nucleo', 'estado_acceso', 'capilla', 'deposito_cadaveres',
       'posibilidad_ampliacion', 'grado_saturacion', 'superficie',
       'crematorio', 'acceso_silla_ruedas'],
      dtype='object')

In [ ]:
# codigo municipio es una PRIMARY KEY o una FOREING KEY de otra tabla inicial. En la nuestra, es PK

In [6]:
rip.describe()

,codigo_provincia,codigo_municipio,distancia_nucleo,grado_saturacion,superficie
count,196.0,196.000000,196.000000,196.000000,196.000000
mean,6.0,92.867347,0.542347,74.306122,5598.846939
std,0.0,111.128259,0.468268,18.454606,6706.587553
min,6.0,1.000000,0.000000,5.000000,123.000000
25%,6.0,44.000000,0.200000,60.000000,1718.000000
50%,6.0,80.500000,0.500000,80.000000,3889.000000
75%,6.0,122.250000,0.825000,90.000000,6564.750000
max,6.0,903.000000,2.700000,100.000000,56270.000000

In [7]:
rip.describe().T

,count,mean,std,min,25%,50%,75%,max
codigo_provincia,196.0,6.000000,0.000000,6.0,6.0,6.0,6.000,6.0
codigo_municipio,196.0,92.867347,111.128259,1.0,44.0,80.5,122.250,903.0
distancia_nucleo,196.0,0.542347,0.468268,0.0,0.2,0.5,0.825,2.7
grado_saturacion,196.0,74.306122,18.454606,5.0,60.0,80.0,90.000,100.0
superficie,196.0,5598.846939,6706.587553,123.0,1718.0,3889.0,6564.750,56270.0

In [8]:
rip.describe(include = "object").T

                       count unique                   top freq
nombre                   196     33  CEMENTERIO MUNICIPAL  162
titularidad              196      2                    MU  184
estado_acceso            196      3                     B  163
capilla                  196      3                    NO  113
deposito_cadaveres       196      2                    NO  154
posibilidad_ampliacion   196      2                    SI  167
crematorio               196      2                    NO  194
acceso_silla_ruedas      196      2                    SI  137

In [ ]:
rip.isnull().sum() #No tenemos valores nulos.

codigo_provincia          0
codigo_municipio          0
nombre                    0
titularidad               0
distancia_nucleo          0
estado_acceso             0
capilla                   0
deposito_cadaveres        0
posibilidad_ampliacion    0
grado_saturacion          0
superficie                0
crematorio                0
acceso_silla_ruedas       0
dtype: int64

In [11]:
rip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196 entries, 0 to 195
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   codigo_provincia        196 non-null    int64
 1   codigo_municipio        196 non-null    int64
 2   nombre                  196 non-null    object
 3   titularidad             196 non-null    object
 4   distancia_nucleo        196 non-null    float64
 5   estado_acceso           196 non-null    object
 6   capilla                 196 non-null    object
 7   deposito_cadaveres      196 non-null    object
 8   posibilidad_ampliacion  196 non-null    object
 9   grado_saturacion        196 non-null    int64
 10  superficie              196 non-null    int64
 11  crematorio              196 non-null    object
 12  acceso_silla_ruedas     196 non-null    object
dtypes: float64(1), int64(4), object(8)
memory usage: 20.0+ KB