# EDA Marine arrecife 游뿾

## Importaci칩n de librer칤as y datos 游늬

In [1]:
# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Imputaci칩n de nulos usando m칠todos avanzados estad칤sticos
# -----------------------------------------------------------------------
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

# Librer칤as de visualizaci칩n
# -----------------------------------------------------------------------
import seaborn as sns
import matplotlib.pyplot as plt
# Configuraci칩n
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

In [ ]:
df_coral = pd.read_csv('../files/transition_files/Arrecife/realistic_ocean_climate_dataset.csv')

## Primera exploraci칩n 游댍

In [4]:
df_coral

,Date,Location,Latitude,Longitude,SST (춿C),pH Level,Bleaching Severity,Species Observed,Marine Heatwave
0,2015-01-01,Red Sea,20.0248,38.4931,29.47,8.107,NaN,106,False
1,2015-01-07,Great Barrier Reef,-18.2988,147.7782,29.65,8.004,High,116,False
2,2015-01-14,Caribbean Sea,14.9768,-75.0233,28.86,7.947,High,90,False
3,2015-01-20,Great Barrier Reef,-18.3152,147.6486,28.97,7.995,Medium,94,False
4,2015-01-27,Gal치pagos,-0.8805,-90.9769,28.60,7.977,NaN,110,False
...,...,...,...,...,...,...,...,...,...
495,2023-12-04,Gal치pagos,-0.9177,-90.9771,30.68,7.939,Medium,108,True
496,2023-12-11,Maldives,3.1725,73.3067,31.49,7.952,Medium,81,True
497,2023-12-17,Caribbean Sea,15.0430,-75.0194,28.43,8.053,Low,91,False
498,2023-12-24,Red Sea,19.9993,38.4655,27.76,8.137,Medium,108,False
499,2023-12-31,Red Sea,20.0407,38.4861,28.08,8.098,NaN,129,False

In [ ]:
df_coral['Location'].unique()

array(['Red Sea', 'Great Barrier Reef', 'Caribbean Sea', 'Gal치pagos',
       'South China Sea', 'Maldives', 'Hawaiian Islands'], dtype=object)

In [ ]:
# Funci칩n para conocer nulos y duplicados en un informe. Next step--> ETL

def nulos_duplicados(df_coral):
    # C치lculo del porcentaje de nulos
    porcentaje_nulos = df_coral.isna().sum() / df_coral.shape[0] * 100
    
    # Verificaci칩n de duplicados
    duplicados = df_coral.duplicated().sum()
    if duplicados == 0:
        mensaje_duplicados = "No hay duplicados"
    else:
        mensaje_duplicados = f"Hay {duplicados} duplicados"
    
    # Creaci칩n de un informe
    reporte = f"""
    ===================== Informe de Datos =====================
    
    Porcentaje de Nulos por Columna:
    ------------------------------------------------------------
    {porcentaje_nulos.to_string()}
    
    ------------------------------------------------------------
    Duplicados:
    ------------------------------------------------------------
    {mensaje_duplicados}
    
    ============================================================
    """
    
    # Imprimir directamente el reporte
    print(reporte)

# Ejemplo de uso
# df_mp = pd.DataFrame(...)

# Llamar directamente a la funci칩n
nulos_duplicados(df_coral)

    ===================== Informe de Datos =====================

    Porcentaje de Nulos por Columna:
    ------------------------------------------------------------
    Date                   0.0
Location               0.0
Latitude               0.0
Longitude              0.0
SST (춿C)               0.0
pH Level               0.0
Bleaching Severity    30.0
Species Observed       0.0
Marine Heatwave        0.0

    ------------------------------------------------------------
    Duplicados:
    ------------------------------------------------------------
    No hay duplicados

    ============================================================

In [8]:
recuento = df_coral['Bleaching Severity'].value_counts()
print(recuento)

Bleaching Severity
Low       132
Medium    130
High       88
Name: count, dtype: int64

In [ ]:
"""La imputaci칩n de "Bleaching Severity" no es posible, Low y Medium
muy homog칠neo para imputar por moda"""

In [ ]:
df_coral['Location'].unique()

array(['Red Sea', 'Great Barrier Reef', 'Caribbean Sea', 'Gal치pagos',
       'South China Sea', 'Maldives', 'Hawaiian Islands'], dtype=object)