In [1]:
import pandas as pd

df = pd.read_csv("../files/original_hr_raw_data.csv", index_col=0)

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Primeros análisis del DF

In [2]:
df.head(10)

,age,attrition,businesstravel,dailyrate,department,distancefromhome,education,educationfield,employeecount,employeenumber,environmentsatisfaction,gender,hourlyrate,jobinvolvement,joblevel,jobrole,jobsatisfaction,maritalstatus,monthlyincome,monthlyrate,numcompaniesworked,over18,overtime,percentsalaryhike,performancerating,relationshipsatisfaction,standardhours,stockoptionlevel,totalworkingyears,trainingtimeslastyear,worklifebalance,yearsatcompany,yearsincurrentrole,yearssincelastpromotion,yearswithcurrmanager,sameasmonthlyincome,datebirth,salary,roledepartament,numberchildren,remotework
0,51,No,NaN,2015.722222,NaN,6,3,NaN,1,1,1,0,NaN,3,5,resEArch DIREcToR,3,NaN,"16280,83$","42330,17$",7,Y,No,13,"3,0",3,Full Time,0,NaN,5,"3,0",20,NaN,15,15,"16280,83$",1972,"195370,00$",NaN,NaN,Yes
1,52,No,NaN,2063.388889,NaN,1,4,Life Sciences,1,2,3,0,NaN,2,5,ManAGeR,3,NaN,NaN,"43331,17$",0,NaN,NaN,14,"3,0",1,NaN,1,"34,0",5,"3,0",33,NaN,11,9,NaN,1971,"199990,00$",NaN,NaN,1
2,42,No,travel_rarely,1984.253968,Research & Development,4,2,Technical Degree,1,3,3,0,NaN,3,5,ManaGER,4,Married,NaN,"41669,33$",1,NaN,No,11,"3,0",4,NaN,0,"22,0",3,NaN,22,NaN,11,15,NaN,1981,"192320,00$",ManaGER - Research & Development,NaN,1
3,47,No,travel_rarely,1771.404762,NaN,2,4,Medical,1,4,1,1,NaN,3,4,ReseArCH DIrECtOr,3,Married,"14307,50$","37199,50$",3,Y,NaN,19,"3,0",2,Full Time,2,NaN,2,NaN,20,NaN,5,6,"14307,50$",1976,"171690,00$",NaN,NaN,False
4,46,No,NaN,1582.771346,NaN,3,3,Technical Degree,1,5,1,1,NaN,4,4,sAleS EXECUtIve,1,Divorced,"12783,92$","33238,20$",2,Y,No,12,"3,0",4,NaN,1,NaN,5,"3,0",19,NaN,2,8,"12783,92$",1977,NaN,NaN,NaN,0
5,48,No,NaN,1771.920635,Research & Development,22,3,Medical,1,6,4,1,NaN,3,4,MANAger,4,NaN,"14311,67$","37210,33$",3,NaN,No,11,"3,0",2,NaN,1,NaN,3,"3,0",22,NaN,4,7,"14311,67$",1975,NaN,MANAger - Research & Development,NaN,Yes
6,59,No,NaN,1032.487286,NaN,25,3,Life Sciences,1,7,1,1,NaN,3,3,Sales ExeCutIVe,1,NaN,"8339,32$","21682,23$",7,Y,NaN,11,"3,0",4,Part Time,0,"28,0",3,"2,0",21,NaN,7,9,"8339,32$",1964,"100071,84$",NaN,NaN,True
7,42,No,travel_rarely,556.256661,NaN,1,1,NaN,1,8,2,0,69.532083,3,2,Sales eXEcUTiVe,3,Married,NaN,"11681,39$",1,NaN,No,25,"4,0",3,Part Time,0,"20,0",3,"3,0",20,NaN,11,6,NaN,1981,"53914,11$",NaN,NaN,0
8,41,No,NaN,1712.182540,NaN,2,5,NaN,1,9,2,1,NaN,3,4,mANAGEr,1,Married,"13829,17$","35955,83$",7,NaN,No,16,"3,0",2,Full Time,1,"22,0",2,"3,0",18,NaN,11,8,"13829,17$",1982,"165950,00$",NaN,NaN,True
9,41,No,travel_frequently,1973.984127,NaN,9,3,NaN,1,10,1,0,NaN,3,5,reSEaRCH DIrectoR,3,NaN,"15943,72$","41453,67$",2,NaN,No,17,"3,0",2,NaN,1,"21,0",2,"4,0",18,NaN,0,11,"15943,72$",1982,NaN,NaN,NaN,0

In [3]:
df.shape

(1678, 41)

In [4]:
df.columns

Index(['age', 'attrition', 'businesstravel', 'dailyrate', 'department',
       'distancefromhome', 'education', 'educationfield', 'employeecount',
       'employeenumber', 'environmentsatisfaction', 'gender', 'hourlyrate',
       'jobinvolvement', 'joblevel', 'jobrole', 'jobsatisfaction',
       'maritalstatus', 'monthlyincome', 'monthlyrate', 'numcompaniesworked',
       'over18', 'overtime', 'percentsalaryhike', 'performancerating',
       'relationshipsatisfaction', 'standardhours', 'stockoptionlevel',
       'totalworkingyears', 'trainingtimeslastyear', 'worklifebalance',
       'yearsatcompany', 'yearsincurrentrole', 'yearssincelastpromotion',
       'yearswithcurrmanager', 'sameasmonthlyincome', 'datebirth', 'salary',
       'roledepartament', 'numberchildren', 'remotework'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1678 entries, 0 to 1677
Data columns (total 41 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       1678 non-null   object
 1   attrition                 1678 non-null   object
 2   businesstravel            877 non-null    object
 3   dailyrate                 1678 non-null   float64
 4   department                312 non-null    object
 5   distancefromhome          1678 non-null   int64
 6   education                 1678 non-null   int64
 7   educationfield            904 non-null    object
 8   employeecount             1678 non-null   int64
 9   employeenumber            1678 non-null   int64
 10  environmentsatisfaction   1678 non-null   int64
 11  gender                    1678 non-null   int64
 12  hourlyrate                411 non-null    float64
 13  jobinvolvement            1678 non-null   int64
 14  joblevel                  1678 non-null   int64
 15  jobrole                   1678 non-null   object
 16  jobsatisfaction           1678 non-null   int64
 17  maritalstatus             1003 non-null   object
 18  monthlyincome             1189 non-null   object
 19  monthlyrate               1678 non-null   object
 20  numcompaniesworked        1678 non-null   int64
 21  over18                    740 non-null    object
 22  overtime                  982 non-null    object
 23  percentsalaryhike         1678 non-null   int64
 24  performancerating         1478 non-null   object
 25  relationshipsatisfaction  1678 non-null   int64
 26  standardhours             1327 non-null   object
 27  stockoptionlevel          1678 non-null   int64
 28  totalworkingyears         1129 non-null   object
 29  trainingtimeslastyear     1678 non-null   int64
 30  worklifebalance           1564 non-null   object
 31  yearsatcompany            1678 non-null   int64
 32  yearsincurrentrole        35 non-null     object
 33  yearssincelastpromotion   1678 non-null   int64
 34  yearswithcurrmanager      1678 non-null   int64
 35  sameasmonthlyincome       1189 non-null   object
 36  datebirth                 1678 non-null   int64
 37  salary                    1393 non-null   object
 38  roledepartament           312 non-null    object
 39  numberchildren            0 non-null      float64
 40  remotework                1678 non-null   object
dtypes: float64(3), int64(18), object(20)
memory usage: 550.6+ KB

object 
 1. age
 2. attrition -> object 
 3. businesstravel -> object 
 4. dailyrate -> float64
 5. department -> object 
 6. distancefromhome -> int64  
 7. education -> int64  
 8. educationfield -> object 
 9. employeecount -> int64  
 10. employeenumber -> int64  
 11. environmentsatisfaction -> int64  
 12. gender -> int64  
 13. hourlyrate -> float64
 14. jobinvolvement -> int64  
 15. joblevel -> int64  
 16. jobrole -> object 
 17. jobsatisfaction -> int64  
 18. maritalstatus -> object 
 19. monthlyincome -> object 
 20. monthlyrate -> object 
 21. numcompaniesworked -> int64  
 22. over18 -> object 
 23. overtime -> object 
 24. percentsalaryhike -> int64  
 25. performancerating -> object 
 26. relationshipsatisfaction -> int64  
 27. standardhours -> object 
 28. stockoptionlevel -> int64  
 29. totalworkingyears -> object 
 30. trainingtimeslastyear -> int64  
 31. worklifebalance -> object 
 32. yearsatcompany -> int64  
 33. yearsincurrentrole -> object 
 34. yearssincelastpromotion -> int64  
 35. yearswithcurrmanager -> int64  
 36. sameasmonthlyincome -> object 
 37. datebirth -> int64  
 38. salary -> object 
 39. roledepartament -> object 
 40. numberchildren -> float64
 41. remotework -> object

# Definición de las actuaciones por columnas

## columnas que vamos a borrar

1.age: Hay datos en int y otros en str con guiones.
CAMBIAR A TIPO INTEGER. CEO- RECALCULAR COLUMNA CON AÑO DE NACIMIENTO O BORRAR COLUMNA

9.Employeecount: valor único de 1. CAMBIAR: borrar:calavera:

22.over18: Y:yes y Nan :calavera:

33.yearsincurrentrole: todo NAN, parece inservible, es STRING:calavera:

36.sameasmonthlyincome: es STRING sale con dolar y coma, tiene que ser FLOAT :calavera: CEO - BORRAR COLUMNA 

39.roledepartament: muchos NAN, hay un guion que habría que quitar y separar entre role y department, debería ser string. :calavera:

40.numberchildren: es FLOAT , no tiene sentido, no se puede tener un niño y medio, es todo NAN, se puede borrar

## columnas a modificar

4.Dailyrate: float con muchos decimales. CEO - PARA EL ANALISIS,CON LA COLUMNA SALARIO ES SUFICIENTE
CAMBIAR: Redondear a menos decimales. Mantener por el momento, no está claro si la necesitamos.

6.Distancefromhome: int con valores negativos.
CAMBIAR: Por el momento la mantenemos, quizás innecesaria.

11.Enviromentsatisfaction: int (del 1 al 5 pero hay 35, 42 y 47?) CEO-ANALIZAR ESOS DATOS (RANGOS DE LOS DATOS)

12.Gender: int (0 y 1, a cambiar por 'Male' y 'Female') CEO - SIENDO 0 MALE Y 1 FEMALE

16.jobrole: str (Sales executive, Laboratory technician) (quizás poner todo en mayúsculas o minúsculas?)

25.performancerating: Mal el formato de float, usa "," cambiarlo por "." (lo saca como string)

29.totalworkingyears: Mal el formato de float, usa "," cambiarlo por "." (lo saca como string) "Podríamos redondear a años enteros y hacer un int"

31.worklifebalance: Mal el formato de float, usa "," cambiarlo por "." (string) habría que pasarlo a int

38.salary: es STRING sale con dolar y coma, tiene que ser FLOAT

41.remotework: STRING deberia ser solo Yes/No, pero sale tambien False/True y 1/0. CEO - 0 FALSE Y 1 TRUE



** Estas dos no estaban en el sitio correcto pero hay que modificar lo siguiente: **

19.monthlyincome: SALARIO str (cambiar a float, replace $, cambiar coma por punto y NaN por NULL)
Esta hay que 
- pasar de STRING a Float, 
- cambiar la coma por el punto y 
- eliminar el $, 
- después también cambiar NaN por NULL

20.monthlyrate: TARIFA str (cambiar , replace $, cambiar coma por punto y NaN por NULL) CANDIDATA :calavera: . CEO - PARA EL ANALISIS, CON LA COLUMNA SALARIO ES SUFICIENTE
Esta hay que 
- pasar de STRING a Float, 
- cambiar la coma por el punto y 
- eliminar el $, 
- no eliminar, aunque no es interesante para nosotras, el cliente puede necesitarla

## columnas ok

2.Attrition: Valores YES/NO. Está ok

7.Education: int que va del 1 al 5.

10.Employeenumber: int

14.Jobinvolvement: int (del 1 al 4) rango ok

15.joblevel: int (del 1 al 5) rango ok

17.Jobsatisfaction: int del 1 al 4. VALIDADO POR EL CEO.

21.numcompaniesworked: int 

23.overtime: No-Yes

24.percentsalaryhike: int, bien

26.relationshipsatisfaction: puntuacion 1-4 (in)

27.standardhours: Part Time y Full Time, no sé si nos dará 
problemas ese espacio.

28.stockoptionlevel: int (0-3) beneficios que se pueden obtener, que tiene que ver con las acciones

30.trainingtimeslastyear: int (0-6)

32.yearsatcompany: INT, todo ok

34.yearssincelastpromotion: INT, todo ok

35.yearswithcurrmanager: INT, todo ok

37.datebirth: INT años, todo ok

## cambiar NaN por Null:

3.Businesstravel: travel_rarely/travel_frequently/NaN/non-travel.
 CAMBIAR Nan por null. Demás OK

5.Department: NaN/Research & Development/Sales/Human Resources. CAMBIAR: cambiar Nan por Null y
NO eliminar Department porque ya eliminamos "roleDepartment", aunque no nos aporte mucha info

8.Educationfield: NaN/Life Sciences/Technical Degree/Medical/Marketing/Human Resources/Other. Cambiar NaN por NULL

13.Hourlyrate(tarifa por hora): float (pero la mayoría NaN?) cambiar NaN por NULL (no borramos porque aunuqe es info que a nosotras no nos sirve, son datos que el cliente quizás si necesita)

18.Maritalstatus: str (Married, Divorced, Single, NaN) cambiar NaN por NULL, demás OK

# Filas duplicadas

In [14]:
df.duplicated(keep=False, subset="employeenumber").sum()

np.int64(128)

In [16]:
filas_dup= df[df.duplicated()].sort_values("employeenumber") #(keep=False)
filas_dup

,age,attrition,businesstravel,dailyrate,department,distancefromhome,education,educationfield,employeecount,employeenumber,environmentsatisfaction,gender,hourlyrate,jobinvolvement,joblevel,jobrole,jobsatisfaction,maritalstatus,monthlyincome,monthlyrate,numcompaniesworked,over18,overtime,percentsalaryhike,performancerating,relationshipsatisfaction,standardhours,stockoptionlevel,totalworkingyears,trainingtimeslastyear,worklifebalance,yearsatcompany,yearsincurrentrole,yearssincelastpromotion,yearswithcurrmanager,sameasmonthlyincome,datebirth,salary,roledepartament,numberchildren,remotework
1656,41,No,NaN,1712.182540,NaN,2,5,NaN,1,9,2,1,NaN,3,4,mANAGEr,1,Married,"13829,17$","35955,83$",7,NaN,No,16,"3,0",2,Full Time,1,"22,0",2,"3,0",18,NaN,11,8,"13829,17$",1982,"165950,00$",NaN,NaN,True
1652,36,No,NaN,610.174603,NaN,5,2,NaN,1,61,4,0,NaN,3,2,lAboratORy TeChNiCiaN,2,Single,"4928,33$","12813,67$",8,Y,No,16,"3,0",4,Full Time,0,"16,0",3,"4,0",13,NaN,3,7,"4928,33$",1987,"59140,00$",NaN,NaN,1
1676,47,No,travel_rarely,1032.487286,NaN,4,3,Life Sciences,1,76,3,1,NaN,2,3,maNufACTURING DIREctOr,2,Divorced,"8339,32$","21682,23$",8,NaN,Yes,12,NaN,3,Part Time,1,NaN,4,"3,0",22,NaN,14,10,"8339,32$",1976,"100071,84$",NaN,NaN,Yes
1649,29,No,travel_rarely,1032.487286,NaN,21,4,Life Sciences,1,108,2,1,NaN,4,3,maNufaCturing direcTOr,1,Divorced,"8339,32$","21682,23$",1,Y,No,11,"3,0",3,NaN,1,"10,0",1,"3,0",10,NaN,8,8,"8339,32$",1994,NaN,NaN,NaN,0
1616,30,No,travel_rarely,1032.487286,NaN,5,3,NaN,1,112,2,1,129.060911,3,3,SalES ExeCuTIVe,4,NaN,"8339,32$","21682,23$",2,Y,No,12,"3,0",3,Part Time,1,NaN,2,"3,0",10,NaN,7,4,"8339,32$",1993,"100071,84$",NaN,NaN,True
1617,34,Yes,travel_rarely,556.256661,NaN,24,4,NaN,1,159,1,1,NaN,2,2,sAles EXecutiVE,2,Single,NaN,"11681,39$",0,Y,Yes,23,"4,0",3,Part Time,0,"16,0",2,"4,0",15,NaN,10,10,NaN,1989,"53914,11$",NaN,NaN,0
1623,36,No,travel_rarely,556.256661,Sales,-14,4,NaN,1,168,14,1,NaN,2,2,SaleS EXeCuTivE,3,Marreid,"4492,84$","11681,39$",1,NaN,Yes,13,"3,0",1,Part Time,1,"10,0",4,"3,0",10,NaN,1,7,"4492,84$",1987,"53914,11$",SaleS EXeCuTivE - Sales,NaN,False
1614,35,No,NaN,1032.487286,NaN,18,5,Life Sciences,1,178,2,0,NaN,3,3,sAlES eXeCuTIVe,1,Married,"8339,32$","21682,23$",1,Y,NaN,22,"4,0",4,NaN,1,"9,0",3,"2,0",9,NaN,1,8,"8339,32$",1988,NaN,NaN,NaN,True
1629,37,No,NaN,1032.487286,NaN,11,3,NaN,1,191,2,0,NaN,3,3,REsEARcH dIreCTor,4,NaN,NaN,"21682,23$",1,NaN,NaN,14,"3,0",3,Part Time,3,NaN,1,"3,0",10,NaN,0,7,NaN,1986,"100071,84$",NaN,NaN,True
1644,50,No,NaN,290.035510,NaN,28,1,Medical,1,203,4,0,NaN,4,1,LAboRaTorY teChniCiaN,3,Married,"2342,59$","6090,75$",1,Y,Yes,11,NaN,3,NaN,3,"20,0",3,"3,0",20,NaN,3,8,"2342,59$",1973,NaN,NaN,NaN,Yes
1624,31,No,travel_rarely,456.444444,NaN,8,4,NaN,1,271,3,1,NaN,3,2,MaNUFAcTUriNg DiRECTor,4,Single,"3686,67$","9585,33$",1,Y,No,23,"4,0",4,Part Time,0,"11,0",2,"3,0",11,NaN,1,8,"3686,67$",1992,"44240,00$",NaN,NaN,0
1634,35,No,NaN,1032.487286,NaN,1,3,NaN,1,293,3,1,NaN,3,3,salES ExEcuTiVE,3,Single,NaN,"21682,23$",1,Y,No,14,"3,0",1,Part Time,0,"10,0",3,"4,0",10,NaN,0,8,NaN,1988,"100071,84$",NaN,NaN,1
1630,47,Yes,non-travel,1032.487286,NaN,-10,4,Life Sciences,1,300,1,0,NaN,3,3,maNaGeR,2,Married,"8339,32$","21682,23$",1,NaN,NaN,12,"3,0",4,NaN,1,NaN,2,"2,0",10,NaN,9,9,"8339,32$",1976,NaN,NaN,NaN,True
1642,26,Yes,travel_rarely,601.301587,NaN,-45,4,NaN,1,304,4,0,NaN,2,2,sAlES eXEcuTivE,4,Single,"4856,67$","12627,33$",1,NaN,NaN,12,"3,0",2,NaN,0,NaN,0,NaN,8,NaN,7,4,"4856,67$",1997,NaN,NaN,NaN,1
1633,29,No,NaN,447.261905,NaN,27,3,Medical,1,352,2,1,NaN,3,2,HEalTHcArE repREsENtaTIVE,3,Married,"3612,50$","9392,50$",4,NaN,No,12,"3,0",1,Part Time,1,"11,0",3,"2,0",8,NaN,1,1,"3612,50$",1994,"43350,00$",NaN,NaN,1
1672,39,No,travel_rarely,1032.487286,NaN,2,5,NaN,1,369,1,0,129.060911,4,3,saLEs exEcUTIVe,3,Single,NaN,"21682,23$",0,NaN,No,18,"3,0",4,Part Time,0,"9,0",3,"3,0",8,NaN,0,7,NaN,1984,"100071,84$",NaN,NaN,0
1677,32,No,NaN,556.256661,NaN,2,2,Life Sciences,1,401,4,1,69.532083,3,2,resEArch scIENTisT,3,Single,NaN,"11681,39$",4,Y,Yes,14,"3,0",4,Part Time,0,"10,0",2,"3,0",8,NaN,0,7,NaN,1991,"53914,11$",NaN,NaN,0
1651,36,No,NaN,670.531746,NaN,11,3,NaN,1,526,2,0,83.816468,2,2,ManUFaCtURInG dIReCToR,2,Single,"5415,83$","14081,17$",1,Y,No,13,"3,0",3,Full Time,0,"6,0",3,"3,0",6,NaN,0,3,"5415,83$",1987,"64990,00$",NaN,NaN,True
1675,29,No,travel_rarely,290.035510,NaN,15,3,NaN,1,528,3,0,NaN,3,1,reSearch sCienTiSt,4,NaN,NaN,"6090,75$",1,NaN,No,19,"3,0",1,Part Time,0,"6,0",1,"3,0",6,NaN,1,5,NaN,1994,"28111,13$",NaN,NaN,False
1640,31,No,travel_rarely,556.256661,Sales,2,1,Life Sciences,1,532,2,0,NaN,3,2,Sales exECutIVE,4,NaN,NaN,"11681,39$",4,NaN,Yes,13,"3,0",3,Part Time,0,"10,0",2,"4,0",6,NaN,0,5,NaN,1992,"53914,11$",Sales exECutIVE - Sales,NaN,True
1653,56,No,NaN,1032.487286,NaN,-13,3,NaN,1,564,4,0,NaN,1,3,mAnUfactURing dIReCtOr,4,NaN,"8339,32$","21682,23$",4,NaN,No,11,"3,0",1,NaN,0,"37,0",3,"2,0",6,NaN,0,2,"8339,32$",1967,NaN,NaN,NaN,1
1619,24,No,travel_rarely,429.412698,NaN,4,1,NaN,1,633,4,1,NaN,3,2,SALes exeCUtiVE,3,Married,"3468,33$","9017,67$",1,Y,Yes,12,"3,0",3,NaN,2,NaN,3,"3,0",5,NaN,0,3,"3468,33$",1999,NaN,NaN,NaN,True
1663,30,No,NaN,220.896825,NaN,7,3,NaN,1,644,2,0,NaN,2,1,resEaRCH sCiENtiSt,2,NaN,NaN,"4638,83$",1,NaN,No,12,"3,0",2,Part Time,1,"6,0",3,"2,0",6,NaN,1,1,NaN,1993,"21410,00$",NaN,NaN,Yes
1660,36,Yes,travel_rarely,290.035510,NaN,9,4,Life Sciences,1,663,3,0,NaN,2,1,SALes RePREsEntAtivE,1,Single,"2342,59$","6090,75$",7,Y,No,23,"4,0",2,Part Time,0,NaN,4,NaN,5,NaN,0,3,"2342,59$",1987,"28111,13$",NaN,NaN,False
1626,50,No,NaN,1874.888889,NaN,-47,3,NaN,1,672,1,1,NaN,3,5,reseaRCH DIrectOr,2,NaN,NaN,"39372,67$",3,NaN,Yes,19,"3,0",1,Full Time,0,"28,0",1,"2,0",8,NaN,0,7,NaN,1973,"181720,00$",NaN,NaN,True
1668,33,No,NaN,556.256661,NaN,25,3,NaN,1,755,4,0,NaN,2,2,MANuFaCtURIng DIRectoR,2,NaN,NaN,"11681,39$",1,Y,No,13,"3,0",4,Part Time,0,"5,0",2,"3,0",5,NaN,0,2,NaN,1990,"53914,11$",NaN,NaN,True
1673,43,No,NaN,488.944444,NaN,-26,3,Medical,1,824,2,1,NaN,4,1,rESEaRcH SciEnTiST,3,Single,"3949,17$","10267,83$",4,NaN,NaN,12,"3,0",4,NaN,0,NaN,2,"3,0",3,NaN,1,2,"3949,17$",1980,NaN,NaN,NaN,Yes
1648,51,Yes,travel_frequently,1098.809524,NaN,-16,4,NaN,1,828,1,0,NaN,1,3,ManufACTuRING dIrEcTOr,4,NaN,NaN,"23075,00$",2,Y,NaN,15,"3,0",4,Full Time,0,"18,0",2,"3,0",4,NaN,0,3,NaN,1972,"106500,00$",NaN,NaN,False
1615,59,No,travel_rarely,290.035510,Human Resources,6,2,Medical,1,853,2,0,NaN,3,1,humAN resoURCEs,3,Married,"2342,59$","6090,75$",8,Y,NaN,17,"3,0",4,Part Time,0,NaN,2,"2,0",2,NaN,2,2,"2342,59$",1964,"28111,13$",humAN resoURCEs - Human Resources,NaN,False
1631,28,No,travel_rarely,290.035510,NaN,9,3,NaN,1,864,4,0,NaN,3,1,rEsEarch ScIENTiSt,4,Married,NaN,"6090,75$",1,NaN,No,23,"4,0",4,NaN,1,NaN,3,NaN,5,NaN,0,4,NaN,1995,"28111,13$",NaN,NaN,1
1632,29,No,NaN,410.944444,NaN,9,5,Other,1,878,2,0,NaN,2,1,lAborATorY TecHNIciAN,4,NaN,"3319,17$","8629,83$",0,NaN,No,17,"3,0",3,Full Time,0,"4,0",2,NaN,3,NaN,2,2,"3319,17$",1994,"39830,00$",NaN,NaN,True
1621,50,No,NaN,290.035510,NaN,8,4,Marketing,1,932,4,0,36.254439,3,1,SALES rEPrESENtaTIVE,2,Married,"2342,59$","6090,75$",7,NaN,No,15,"3,0",4,Part Time,1,"4,0",2,"3,0",2,NaN,2,2,"2342,59$",1973,"28111,13$",NaN,NaN,True
1666,22,No,NaN,556.256661,NaN,1,2,Life Sciences,1,958,4,0,NaN,2,2,MANUfactUrING DIRECtOr,4,NaN,"4492,84$","11681,39$",6,NaN,NaN,22,"4,0",1,Part Time,2,"4,0",2,"1,0",2,NaN,2,2,"4492,84$",2001,"53914,11$",NaN,NaN,0
1618,47,No,NaN,290.035510,NaN,2,4,Life Sciences,1,969,4,1,NaN,2,1,SALeS RePreSenTATiVe,4,Single,"2342,59$","6090,75$",1,NaN,Yes,18,"3,0",1,NaN,0,"3,0",3,"2,0",3,NaN,1,2,"2342,59$",1976,NaN,NaN,NaN,1
1669,33,No,travel_rarely,356.158730,NaN,13,1,Life Sciences,1,977,2,1,44.519841,3,1,rEseaRcH scIEnTiST,4,Single,"2876,67$","7479,33$",3,Y,NaN,18,"3,0",1,Full Time,0,"5,0",4,"3,0",3,NaN,0,2,"2876,67$",1990,"34520,00$",NaN,NaN,0
1650,31,Yes,NaN,237.507937,NaN,1,3,NaN,1,1030,4,1,NaN,3,1,SaLES REPrEsENTAtivE,2,NaN,"1918,33$","4987,67$",1,NaN,Yes,11,"3,0",1,Part Time,0,NaN,2,"4,0",3,NaN,2,2,"1918,33$",1992,"23020,00$",NaN,NaN,False
1641,25,No,NaN,333.150794,NaN,1,3,NaN,1,1048,1,0,NaN,3,1,LaBORatOrY TeChNICiaN,4,NaN,"2690,83$","6996,17$",4,Y,No,11,"3,0",2,Full Time,1,"7,0",2,"2,0",3,NaN,0,2,"2690,83$",1998,"32290,00$",NaN,NaN,True
1639,31,Yes,travel_frequently,290.035510,Research & Development,2,3,Life Sciences,1,1056,2,0,NaN,3,1,labORAtoRy tEcHNICIAN,4,NaN,NaN,"6090,75$",6,Y,NaN,13,"3,0",3,Part Time,1,"7,0",2,"1,0",2,"2,0",2,2,NaN,1992,"28111,13$",labORAtoRy tEcHNICIAN - Research & Developm...,NaN,Yes
1654,49,No,travel_rarely,686.214286,Research & Development,5,4,NaN,1,1060,1,0,NaN,3,2,hEalthCaRe reprEseNTaTiVe,3,Married,"5542,50$","14410,50$",2,Y,No,14,NaN,2,Full Time,1,"20,0",0,"2,0",3,NaN,1,2,"5542,50$",1974,"66510,00$",hEalthCaRe reprEseNTaTiVe - Research & Deve...,NaN,1
1674,47,No,NaN,1973.984127,NaN,26,4,NaN,1,1087,4,1,NaN,3,5,mANager,3,Married,"15943,72$","41453,67$",3,Y,No,11,"3,0",3,Full Time,1,"27,0",2,"3,0",5,NaN,1,0,"15943,72$",1976,"191324,62$",NaN,NaN,False
1627,32,No,travel_rarely,290.035510,NaN,29,4,NaN,1,1158,3,1,NaN,2,1,LAboRAtorY TEcHnician,2,Single,"2342,59$","6090,75$",1,NaN,NaN,13,"3,0",3,Part Time,0,"6,0",3,"3,0",6,NaN,4,1,"2342,59$",1991,"28111,13$",NaN,NaN,False
1622,51,No,travel_rarely,556.256661,NaN,-35,3,Medical,1,1179,35,0,NaN,1,2,MANuFacturIng DIrectOr,2,Divorced,NaN,"11681,39$",5,NaN,NaN,18,"3,0",4,Part Time,1,NaN,3,"3,0",4,NaN,1,2,NaN,1972,"53914,11$",NaN,NaN,Yes
1636,24,No,NaN,290.035510,Research & Development,-24,2,Technical Degree,1,1212,3,0,NaN,2,1,LaBoratory TECHnICIAn,1,NaN,NaN,"6090,75$",0,NaN,NaN,14,NaN,2,Part Time,3,NaN,3,"3,0",1,NaN,0,0,NaN,1999,"28111,13$",LaBoratory TECHnICIAn - Research & Developm...,NaN,False
1646,35,No,NaN,201.293651,Research & Development,4,2,Other,1,1235,3,0,NaN,3,1,LaborAtorY Technician,4,Divorced,NaN,"4227,17$",1,Y,NaN,12,"3,0",3,Part Time,1,"1,0",3,"3,0",1,NaN,0,0,NaN,1988,"19510,00$",LaborAtorY Technician - Research & Developm...,NaN,1
1655,45,No,NaN,1003.269841,NaN,7,3,Life Sciences,1,1243,2,0,NaN,3,3,resEaRCH sCienTISt,1,NaN,"8103,33$","21068,67$",2,Y,No,17,"3,0",3,Part Time,1,NaN,2,"3,0",1,NaN,0,0,"8103,33$",1978,"97240,00$",NaN,NaN,Yes
1658,36,No,travel_rarely,313.444444,Research & Development,6,3,Life Sciences,1,1245,2,1,NaN,4,1,LABOrATOrY TEchnIcIAn,4,NaN,"2531,67$","6582,33$",3,NaN,No,12,"3,0",2,NaN,0,NaN,3,"3,0",1,NaN,0,0,"2531,67$",1987,NaN,LABOrATOrY TEchnIcIAn - Research & Developm...,NaN,1
1667,41,No,travel_rarely,556.256661,Research & Development,19,2,Life Sciences,1,1268,3,0,NaN,3,2,rESEArcH SCiEntIst,1,Divorced,"4492,84$","11681,39$",2,NaN,NaN,16,"3,0",1,Part Time,2,"17,0",2,"2,0",1,NaN,0,0,"4492,84$",1982,"53914,11$",rESEArcH SCiEntIst - Research & Development,NaN,1
1665,34,No,travel_rarely,528.357143,NaN,8,5,Life Sciences,1,1324,2,1,NaN,3,2,manUfACtuRIng DiRECtOR,1,NaN,"4267,50$","11095,50$",3,NaN,No,14,"3,0",3,Part Time,1,NaN,3,NaN,0,NaN,0,0,"4267,50$",1989,"51210,00$",NaN,NaN,1
1662,twenty-four,No,NaN,277.952381,NaN,9,3,Life Sciences,1,1326,3,0,NaN,2,1,labORAToRy TeCHNicIAN,2,Divorced,"2245,00$","5837,00$",1,Y,No,11,"3,0",3,Part Time,3,NaN,4,"3,0",1,NaN,0,0,"2245,00$",1999,"26940,00$",NaN,NaN,False
1620,21,Yes,travel_rarely,290.035510,Research & Development,18,1,Other,1,1339,4,1,NaN,3,1,resEaRcH scIENTiSt,4,Single,"2342,59$","6090,75$",1,NaN,No,19,NaN,1,Part Time,0,NaN,3,"2,0",1,NaN,0,0,"2342,59$",2002,"28111,13$",resEaRcH scIENTiSt - Research & Development,NaN,False
1670,48,No,NaN,233.071429,NaN,20,4,Medical,1,1342,4,0,NaN,3,1,rEsEARCh ScieNTist,3,Married,"1882,50$","4894,50$",4,NaN,NaN,17,"3,0",1,Part Time,2,"13,0",2,"2,0",0,NaN,0,0,"1882,50$",1975,"22590,00$",NaN,NaN,0
1625,58,Yes,travel_rarely,255.769841,NaN,2,3,NaN,1,1349,4,0,NaN,3,1,reSearCH ScIeNtiSt,3,Single,NaN,"5371,17$",4,Y,No,24,"4,0",1,Part Time,0,"7,0",4,"3,0",1,NaN,0,0,NaN,1965,"24790,00$",NaN,NaN,0
1661,18,Yes,NaN,290.035510,NaN,8,1,NaN,1,1370,3,0,NaN,3,1,laborATOry TechNiCiAN,3,Single,"2342,59$","6090,75$",1,NaN,No,12,"3,0",4,Part Time,0,NaN,0,"3,0",0,NaN,0,0,"2342,59$",2005,"28111,13$",NaN,NaN,Yes
1628,31,Yes,travel_frequently,290.035510,NaN,2,3,NaN,1,1393,3,1,NaN,2,1,SaLeS RepRESenTatIve,4,Single,"2342,59$","6090,75$",7,NaN,No,14,"3,0",3,Part Time,0,"3,0",3,"4,0",1,NaN,0,0,"2342,59$",1992,"28111,13$",NaN,NaN,Yes
1635,24,No,NaN,209.753968,NaN,13,2,NaN,1,1402,4,1,NaN,3,1,SaLes rEprESENtatIVe,2,Married,NaN,"4404,83$",1,Y,NaN,13,"3,0",3,Part Time,1,"1,0",2,NaN,1,NaN,0,0,NaN,1999,"20330,00$",NaN,NaN,True
1645,58,Yes,travel_rarely,1032.487286,NaN,23,4,Medical,1,1474,4,1,129.060911,3,3,hEALTHcArE rePReSEnTATive,4,Married,"8339,32$","21682,23$",1,NaN,NaN,12,"3,0",4,Part Time,1,"40,0",3,"2,0",40,NaN,15,6,"8339,32$",1965,"100071,84$",NaN,NaN,1
1664,55,No,travel_rarely,1964.960317,NaN,1,3,Medical,1,1477,4,0,NaN,3,5,MaNAger,1,Single,"15870,83$","41264,17$",0,Y,NaN,14,"3,0",3,NaN,0,"37,0",2,"3,0",36,NaN,4,13,"15870,83$",1968,"190450,00$",NaN,NaN,Yes
1659,43,No,travel_rarely,365.134921,NaN,2,3,Life Sciences,1,1499,2,0,NaN,3,1,huMAn resOURces,4,NaN,"2949,17$","7667,83$",0,Y,No,13,"3,0",2,Full Time,0,NaN,5,"3,0",9,NaN,1,8,"2949,17$",1980,"35390,00$",NaN,NaN,True
1643,57,No,travel_rarely,696.944444,NaN,1,4,Medical,1,1525,4,0,NaN,3,2,heaLThcare rePreseNtAtive,3,NaN,"5629,17$","14635,83$",2,NaN,No,11,"3,0",3,Full Time,0,NaN,2,"3,0",3,NaN,1,2,"5629,17$",1966,"67550,00$",NaN,NaN,False
1647,34,Yes,non-travel,547.238095,NaN,-37,3,Marketing,1,1532,1,0,NaN,4,2,SalES exEcutIve,4,NaN,"4420,00$","11492,00$",8,NaN,Yes,13,"3,0",2,NaN,0,NaN,3,"2,0",5,NaN,0,4,"4420,00$",1989,NaN,NaN,NaN,1
1637,35,No,travel_rarely,1032.487286,NaN,16,3,Life Sciences,1,1567,4,0,NaN,3,3,HEalTHCArE rEpresEnTaTIvE,3,NaN,NaN,"21682,23$",4,NaN,Yes,12,"3,0",3,Part Time,0,"10,0",2,"3,0",8,NaN,0,0,NaN,1988,"100071,84$",NaN,NaN,1
1638,48,No,travel_rarely,417.960317,NaN,2,5,NaN,1,1568,2,1,NaN,3,2,sALES EXEcuTIVe,4,Married,"3375,83$","8777,17$",2,NaN,No,14,"3,0",1,Part Time,1,"14,0",2,"3,0",9,NaN,6,7,"3375,83$",1975,"40510,00$",NaN,NaN,True
1657,45,No,travel_rarely,495.753968,NaN,2,3,Other,1,1569,4,0,NaN,3,2,sAles executiVe,2,NaN,NaN,"10410,83$",0,NaN,No,19,"3,0",2,Part Time,1,NaN,3,"4,0",8,NaN,3,7,NaN,1978,"48050,00$",NaN,NaN,False
1671,31,No,NaN,556.256661,NaN,12,3,Medical,1,1608,4,1,NaN,3,2,HEaltHCarE REPreSENtAtIve,4,NaN,NaN,"11681,39$",0,NaN,NaN,11,"3,0",3,Part Time,2,"10,0",2,"1,0",9,NaN,8,5,NaN,1992,"53914,11$",NaN,NaN,True

# Porcentaje de nulos

In [8]:
round(df.isna().sum()/df.shape[0]*100, 2)

age                           0.00
attrition                     0.00
businesstravel               47.74
dailyrate                     0.00
department                   81.41
distancefromhome              0.00
education                     0.00
educationfield               46.13
employeecount                 0.00
employeenumber                0.00
environmentsatisfaction       0.00
gender                        0.00
hourlyrate                   75.51
jobinvolvement                0.00
joblevel                      0.00
jobrole                       0.00
jobsatisfaction               0.00
maritalstatus                40.23
monthlyincome                29.14
monthlyrate                   0.00
numcompaniesworked            0.00
over18                       55.90
overtime                     41.48
percentsalaryhike             0.00
performancerating            11.92
relationshipsatisfaction      0.00
standardhours                20.92
stockoptionlevel              0.00
totalworkingyears            32.72
trainingtimeslastyear         0.00
worklifebalance               6.79
yearsatcompany                0.00
yearsincurrentrole           97.91
yearssincelastpromotion       0.00
yearswithcurrmanager          0.00
sameasmonthlyincome          29.14
datebirth                     0.00
salary                       16.98
roledepartament              81.41
numberchildren              100.00
remotework                    0.00
dtype: float64