In [151]:
import pandas as pd

In [152]:
life_e = pd.read_csv("life-expectancy.csv")

In [153]:
life_e.head()

        Entity Code  Year  Period life expectancy at birth
0  Afghanistan  AFG  1950                          28.1563
1  Afghanistan  AFG  1951                          28.5836
2  Afghanistan  AFG  1952                          29.0138
3  Afghanistan  AFG  1953                          29.4521
4  Afghanistan  AFG  1954                          29.6975

In [154]:
life_e.shape

(21565, 4)

In [155]:
# Aqu√≠ me quiero quedar s√≥lo con los datos de Europa. Como no los tenemos organizados por contienente podemos usar IA

In [156]:
#  Diccionario pa√≠s -> continente (mapa inicial)
pais_a_continente = {
    # Asia
    'Afghanistan': 'Asia', 'Armenia':'Asia', 'Azerbaijan':'Asia',
    'Bahrain':'Asia', 'Bangladesh':'Asia', 'Bhutan':'Asia', 'Brunei':'Asia',
    'Cambodia':'Asia', 'China':'Asia', 'Georgia':'Asia', 'India':'Asia',
    'Indonesia':'Asia', 'Iran':'Asia', 'Iraq':'Asia', 'Israel':'Asia',
    'Japan':'Asia', 'Jordan':'Asia', 'Kazakhstan':'Asia', 'Kuwait':'Asia',
    'Kyrgyzstan':'Asia', 'Laos':'Asia', 'Lebanon':'Asia', 'Malaysia':'Asia',
    'Maldives':'Asia', 'Mongolia':'Asia', 'Myanmar':'Asia', 'Nepal':'Asia',
    'North Korea':'Asia', 'Oman':'Asia', 'Pakistan':'Asia', 'Palestine':'Asia',
    'Philippines':'Asia', 'Qatar':'Asia', 'Saudi Arabia':'Asia', 'Singapore':'Asia',
    'South Korea':'Asia', 'Sri Lanka':'Asia', 'Syria':'Asia', 'Taiwan':'Asia',
    'Tajikistan':'Asia', 'Thailand':'Asia', 'East Timor':'Asia', 'Turkey':'Asia',
    'Turkmenistan':'Asia', 'United Arab Emirates':'Asia', 'Uzbekistan':'Asia',
    'Vietnam':'Asia', 'Yemen':'Asia',

    # Europe
    'Albania':'Europe', 'Andorra':'Europe', 'Austria':'Europe', 'Belarus':'Europe',
    'Belgium':'Europe', 'Bosnia and Herzegovina':'Europe', 'Bulgaria':'Europe',
    'Croatia':'Europe', 'Cyprus':'Europe', 'Czechia':'Europe', 'Denmark':'Europe',
    'Estonia':'Europe', 'Finland':'Europe', 'France':'Europe', 'Germany':'Europe',
    'Greece':'Europe', 'Hungary':'Europe', 'Iceland':'Europe', 'Ireland':'Europe',
    'Italy':'Europe', 'Kosovo':'Europe', 'Latvia':'Europe', 'Liechtenstein':'Europe',
    'Lithuania':'Europe', 'Luxembourg':'Europe', 'Malta':'Europe', 'Moldova':'Europe',
    'Monaco':'Europe', 'Montenegro':'Europe', 'Netherlands':'Europe', 'North Macedonia':'Europe',
    'Norway':'Europe', 'Poland':'Europe', 'Portugal':'Europe', 'Romania':'Europe',
    'Russia':'Europe', 'San Marino':'Europe', 'Serbia':'Europe', 'Slovakia':'Europe',
    'Slovenia':'Europe', 'Spain':'Europe', 'Sweden':'Europe', 'Switzerland':'Europe',
    'Ukraine':'Europe', 'United Kingdom':'Europe', 'England and Wales':'Europe',
    'Scotland':'Europe', 'Northern Ireland':'Europe', 'Gibraltar':'Europe',
    'Faroe Islands':'Europe',

    # Africa
    'Algeria':'Africa', 'Angola':'Africa', 'Benin':'Africa', 'Botswana':'Africa',
    'Burkina Faso':'Africa', 'Burundi':'Africa', 'Cameroon':'Africa', 'Cape Verde':'Africa',
    'Central African Republic':'Africa', 'Chad':'Africa', 'Comoros':'Africa',
    'Congo':'Africa', 'Democratic Republic of Congo':'Africa', 'Djibouti':'Africa',
    'Egypt':'Africa', 'Equatorial Guinea':'Africa', 'Eritrea':'Africa', 'Eswatini':'Africa',
    'Ethiopia':'Africa', 'Gabon':'Africa', 'Gambia':'Africa', 'Ghana':'Africa',
    'Guinea':'Africa', 'Guinea-Bissau':'Africa', "Cote d'Ivoire":'Africa', 'Kenya':'Africa',
    'Lesotho':'Africa', 'Liberia':'Africa', 'Libya':'Africa', 'Madagascar':'Africa',
    'Malawi':'Africa', 'Mali':'Africa', 'Mauritania':'Africa', 'Mauritius':'Africa',
    'Mayotte':'Africa', 'Morocco':'Africa', 'Mozambique':'Africa', 'Namibia':'Africa',
    'Niger':'Africa', 'Nigeria':'Africa', 'Rwanda':'Africa', 'Sao Tome and Principe':'Africa',
    'Senegal':'Africa', 'Seychelles':'Africa', 'Sierra Leone':'Africa', 'Somalia':'Africa',
    'South Africa':'Africa', 'South Sudan':'Africa', 'Sudan':'Africa', 'Tanzania':'Africa',
    'Togo':'Africa', 'Tunisia':'Africa', 'Uganda':'Africa', 'Western Sahara':'Africa',
    'Zambia':'Africa', 'Zimbabwe':'Africa',

    # Americas
    'Anguilla':'Americas', 'Antigua and Barbuda':'Americas', 'Argentina':'Americas',
    'Aruba':'Americas', 'Bahamas':'Americas', 'Barbados':'Americas', 'Belize':'Americas',
    'Bermuda':'Americas', 'Bolivia':'Americas', 'Bonaire Sint Eustatius and Saba':'Americas',
    'Brazil':'Americas', 'British Virgin Islands':'Americas', 'Canada':'Americas',
    'Cayman Islands':'Americas', 'Chile':'Americas', 'Colombia':'Americas', 'Costa Rica':'Americas',
    'Cuba':'Americas', 'Curacao':'Americas', 'Dominica':'Americas', 'Dominican Republic':'Americas',
    'Ecuador':'Americas', 'El Salvador':'Americas', 'French Guiana':'Americas', 'Greenland':'Americas',
    'Grenada':'Americas', 'Guadeloupe':'Americas', 'Guatemala':'Americas', 'Guyana':'Americas',
    'Haiti':'Americas', 'Honduras':'Americas', 'Jamaica':'Americas', 'Martinique':'Americas',
    'Mexico':'Americas', 'Montserrat':'Americas', 'Nicaragua':'Americas', 'Panama':'Americas',
    'Paraguay':'Americas', 'Peru':'Americas', 'Puerto Rico':'Americas', 'Saint Barthelemy':'Americas',
    'Saint Helena':'Americas', 'Saint Kitts and Nevis':'Americas', 'Saint Lucia':'Americas',
    'Saint Martin (French part)':'Americas', 'Saint Pierre and Miquelon':'Americas',
    'Saint Vincent and the Grenadines':'Americas', 'Suriname':'Americas',
    'Trinidad and Tobago':'Americas', 'United States':'Americas',
    'United States Virgin Islands':'Americas', 'Uruguay':'Americas', 'Venezuela':'Americas',

    # Oceania
    'American Samoa':'Oceania', 'Australia':'Oceania', 'Fiji':'Oceania', 'Guam':'Oceania',
    'Kiribati':'Oceania', 'Marshall Islands':'Oceania', 'Micronesia (country)':'Oceania',
    'Nauru':'Oceania', 'New Caledonia':'Oceania', 'New Zealand':'Oceania',
    'Niue':'Oceania', 'Northern Mariana Islands':'Oceania', 'Palau':'Oceania',
    'Papua New Guinea':'Oceania', 'Samoa':'Oceania', 'Solomon Islands':'Oceania',
    'Tokelau':'Oceania', 'Tonga':'Oceania', 'Tuvalu':'Oceania', 'Vanuatu':'Oceania',
    'Wallis and Futuna':'Oceania',

    # Ant√°rtida
    'Antarctica':'Antarctica'
}

# 3Ô∏è‚É£ Crear nueva columna 'continent'
life_e['continent'] = life_e['Entity'].map(pais_a_continente)

# 4Ô∏è‚É£ Guardar en un nuevo CSV
life_e.to_csv("life_expectancy_con_continent.csv", index=False)

# 5Ô∏è‚É£ Mostrar ejemplo
print(life_e[['Entity','continent']].head(10))

        Entity continent
0  Afghanistan      Asia
1  Afghanistan      Asia
2  Afghanistan      Asia
3  Afghanistan      Asia
4  Afghanistan      Asia
5  Afghanistan      Asia
6  Afghanistan      Asia
7  Afghanistan      Asia
8  Afghanistan      Asia
9  Afghanistan      Asia

In [157]:
life_e.head()

        Entity Code  Year  Period life expectancy at birth continent
0  Afghanistan  AFG  1950                          28.1563      Asia
1  Afghanistan  AFG  1951                          28.5836      Asia
2  Afghanistan  AFG  1952                          29.0138      Asia
3  Afghanistan  AFG  1953                          29.4521      Asia
4  Afghanistan  AFG  1954                          29.6975      Asia

In [158]:
# De momento s√≥lo voy a quedarme con Europa, para este ejercicio

life_europa = life_e[life_e['continent'] == "Europe"]

In [159]:
life_europa.head()

      Entity Code  Year  Period life expectancy at birth continent
150  Albania  ALB  1950                          44.5214    Europe
151  Albania  ALB  1951                          45.2742    Europe
152  Albania  ALB  1952                          46.2810    Europe
153  Albania  ALB  1953                          47.3686    Europe
154  Albania  ALB  1954                          48.4165    Europe

In [160]:
life_europa.shape

(5209, 5)

In [161]:
life_europa.to_csv("life_europa.csv")

In [162]:
"""Funci√≥n para obtener un informe r√°pido de nulos y duplicados
   de un DataFrame:"""

def initial_report(df): #Esta funci√≥n actua directamente con el DF como argumento.

    # Calculamos el porcentaje de nulos
    porcentaje_nulos = df.isna().sum()/df.shape[0]*100

    # Tipo de dato por columna:
    tipos_datos = df.dtypes

    # Verificaci√≥n de duplicados
    duplicados = df.duplicated().sum()
    if duplicados == 0: # Ponemos un condicional
        mensaje_duplicados = "No hay duplicados"
    else:
        mensaje_duplicados = f"Hay {duplicados} duplicados"

    # Unimos la informaci√≥n de los nulos y el tipo de dato de cada columna
    info_columnas = pd.DataFrame({'Tipo de Dato': tipos_datos,'Porcentaje de Nulos': porcentaje_nulos})
    # Crear string para el informe
    info_str = info_columnas.to_string()

    # Este es el informe visual que recibimos:
    informe = f"""
    ========= Informe de Datos üìã ==========
    
    üìå % Nulos y tipo de dato:
    -------------------------------------
    {info_str}
    -------------------------------------
    üü∞Duplicados:
    -------------------------------------
    {mensaje_duplicados}
    =====================================
    """
    # Imprimir el informe
    print(informe)

In [163]:
initial_report(life_europa)

    ========= Informe de Datos üìã ==========

    üìå % Nulos y tipo de dato:
    -------------------------------------
                                    Tipo de Dato  Porcentaje de Nulos
Entity                                object              0.00000
Code                                  object              4.45383
Year                                   int64              0.00000
Period life expectancy at birth      float64              0.00000
continent                             object              0.00000
    -------------------------------------
    üü∞Duplicados:
    -------------------------------------
    No hay duplicados
    =====================================

In [164]:
# Tengo nulos en CODE, que se puede solucionar y no hay duplicados

#¬ø D√≥nde tengo nulos en code?

# Mostrar las filas donde 'Code' es nulo
nulos_code = life_e[life_e['Code'].isna()]

# Ver solo la columna 'Entity' de esos nulos
print(nulos_code['Entity'].unique())

['Africa' 'Americas' 'Asia' 'England and Wales' 'Europe'
 'High-and-upper-middle-income countries' 'High-income countries'
 'Land-locked Developing Countries (LLDC)'
 'Latin America and the Caribbean' 'Least developed countries'
 'Less developed regions' 'Less developed regions, excluding China'
 'Less developed regions, excluding least developed countries'
 'Low-and-Lower-middle-income countries' 'Low-and-middle-income countries'
 'Low-income countries' 'Lower-middle-income countries'
 'Middle-income countries' 'More developed regions'
 'No income group available' 'Northern America' 'Northern Ireland'
 'Oceania' 'Scotland' 'Small Island Developing States (SIDS)'
 'Upper-middle-income countries']

In [165]:
"""La lista que me pasaste no son pa√≠ses individuales, sino regiones, agrupaciones o subdivisiones
Estas entidades no tienen c√≥digo ISO, por eso Code es nulo.
Ahora mismo no nos afecta, para el estudio que queremos hacer...as√≠ que podemos dejarlo as√≠
Luego quiz√°s pueda afectarnos a la hora de representar, porque si el CODE, muchas veces sirve para
qgis/powerbi"""

'La lista que me pasaste no son pa√≠ses individuales, sino regiones, agrupaciones o subdivisiones\nEstas entidades no tienen c√≥digo ISO, por eso Code es nulo.\nAhora mismo no nos afecta, para el estudio que queremos hacer...as√≠ que podemos dejarlo as√≠\nLuego quiz√°s pueda afectarnos a la hora de representar, porque si el CODE, muchas veces sirve para\nqgis/powerbi'

In [166]:
life_europa["Year"].unique()

array([1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960,
       1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971,
       1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982,
       1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993,
       1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004,
       2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
       2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 1870, 1881, 1891,
       1901, 1903, 1911, 1931, 1947, 1948, 1949, 1900, 1841, 1842, 1843,
       1844, 1845, 1846, 1847, 1848, 1849, 1850, 1851, 1852, 1853, 1854,
       1855, 1856, 1857, 1858, 1859, 1860, 1861, 1862, 1863, 1864, 1865,
       1866, 1867, 1868, 1869, 1871, 1872, 1873, 1874, 1875, 1876, 1877,
       1878, 1879, 1880, 1882, 1883, 1884, 1885, 1886, 1887, 1888, 1889,
       1890, 1892, 1893, 1894, 1895, 1896, 1897, 1898, 1899, 1902, 1904,
       1905, 1906, 1907, 1908, 1909, 1910, 1912, 1913, 1919, 1920, 1921,
       1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930, 1932, 1933,
       1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942, 1943, 1944,
       1945, 1946, 1915, 1775, 1835, 1836, 1837, 1838, 1839, 1840, 1914,
       1916, 1917, 1918, 1755, 1765, 1785, 1795, 1805, 1815, 1825, 1816,
       1817, 1818, 1819, 1820, 1821, 1822, 1823, 1824, 1826, 1827, 1828,
       1829, 1830, 1831, 1832, 1833, 1834, 1751, 1752, 1753, 1754, 1756,
       1757, 1758, 1759, 1760, 1761, 1762, 1763, 1764, 1766, 1767, 1768,
       1769, 1770, 1771, 1772, 1773, 1774, 1776, 1777, 1778, 1779, 1780,
       1781, 1782, 1783, 1784, 1786, 1787, 1788, 1789, 1790, 1791, 1792,
       1793, 1794, 1796, 1797, 1798, 1799, 1800, 1801, 1802, 1803, 1804,
       1806, 1807, 1808, 1809, 1810, 1811, 1812, 1813, 1814, 1543, 1548,
       1553, 1558, 1563, 1568, 1573, 1578, 1583, 1588, 1593, 1598, 1603,
       1608, 1613, 1618, 1623, 1628, 1633, 1638, 1643, 1648, 1653, 1658,
       1663, 1668, 1673, 1678, 1683, 1688, 1693, 1698, 1703, 1708, 1713,
       1718, 1723, 1728, 1733, 1738, 1743, 1748], dtype=int64)

In [167]:
# Quiero sacar 4 mapas (tenemos datos desde 1500 y pico, pero no me interesan)
# De hecho, vamos a borrar todos los datos anteriores a 1800

In [168]:
# Asegurarnos de que la columna 'Year' sea num√©rica
life_europa['Year'] = pd.to_numeric(life_europa['Year'], errors='coerce')

# Filtrar solo a√±os >= 1800
life_europa = life_europa[life_europa['Year'] >= 1900].copy()

# Verificar
print(life_europa['Year'].min(), life_europa['Year'].max())

1900 2023

C:\Users\isaw9\AppData\Local\Temp\ipykernel_25964\2715625548.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  life_europa['Year'] = pd.to_numeric(life_europa['Year'], errors='coerce')

In [169]:
life_europa.shape

(4358, 5)

In [170]:
life_europa.head()

      Entity Code  Year  Period life expectancy at birth continent
150  Albania  ALB  1950                          44.5214    Europe
151  Albania  ALB  1951                          45.2742    Europe
152  Albania  ALB  1952                          46.2810    Europe
153  Albania  ALB  1953                          47.3686    Europe
154  Albania  ALB  1954                          48.4165    Europe

In [171]:
# Supongamos que ya tienes life_europa con columna 'Year' num√©rica
# Definir los a√±os que queremos conservar
a√±os_clave = [1900, 1918, 1950, 1975, 2000, 2023]

# Filtrar solo esas filas
life_europa_years = life_europa[life_europa['Year'].isin(a√±os_clave)].copy()

In [172]:
life_europa_years.shape

(224, 5)

In [173]:
life_europa_years[(life_europa_years['Entity'] == 'Spain') | (life_europa_years['Entity'] == 'Espa√±a')]

      Entity Code  Year  Period life expectancy at birth continent
18088  Spain  ESP  1900                          34.8000    Europe
18099  Spain  ESP  1918                          30.3600    Europe
18131  Spain  ESP  1950                          61.7542    Europe
18156  Spain  ESP  1975                          73.4918    Europe
18181  Spain  ESP  2000                          79.4123    Europe
18204  Spain  ESP  2023                          83.6703    Europe

In [174]:
life_europa_years.to_csv("life_europa_years.csv")

In [175]:
import geopandas as gpd
import pandas as pd

# 1Ô∏è‚É£ Leer shapefile
shp = gpd.read_file("CNTR_RG_20M_2024_4326.shp/CNTR_RG_20M_2024_4326.shp")

# Ver las columnas disponibles
print(shp.columns)
print(shp.head())

# 2Ô∏è‚É£ Filtrar solo Europa

# Si no hay columna continente, puedes usar lista de pa√≠ses europeos
paises_europa = [
    'Albania','Andorra','Austria','Belarus','Belgium','Bosnia and Herzegovina',
    'Bulgaria','Croatia','Cyprus','Czechia','Denmark','Estonia','Finland',
    'France','Germany','Greece','Hungary','Iceland','Ireland','Italy','Kosovo',
    'Latvia','Liechtenstein','Lithuania','Luxembourg','Malta','Moldova','Monaco',
    'Montenegro','Netherlands','North Macedonia','Norway','Poland','Portugal',
    'Romania','Russia','San Marino','Serbia','Slovakia','Slovenia','Spain','Sweden',
    'Switzerland','Ukraine','United Kingdom','England and Wales','Scotland','Northern Ireland'
]

europa_shp = shp[shp['NAME_ENGL'].isin(paises_europa)].copy()  # 'NAME' = columna con nombres de pa√≠ses

# 3Ô∏è‚É£ Unir con tu CSV de esperanza de vida
life_csv = pd.read_csv("life_europa_years.csv")  # tu CSV limpio

# Merge usando columna de c√≥digo ISO o nombre
europa_shp = europa_shp.merge(life_csv, left_on='ISO3_CODE', right_on='Code', how='left')

# 4Ô∏è‚É£ Guardar shapefile nuevo
europa_shp.to_file("europa_life_expectancy_2023.shp")

print("¬°Shapefile listo! Ahora lo puedes abrir en QGIS con solo Europa y tus datos de esperanza de vida.")

Index(['CNTR_ID', 'CNTR_NAME', 'NAME_ENGL', 'NAME_FREN', 'ISO3_CODE',
       'SVRG_UN', 'CAPT', 'EU_STAT', 'EFTA_STAT', 'CC_STAT', 'NAME_GERM',
       'geometry'],
      dtype='object')
  CNTR_ID                                          CNTR_NAME  \
0      CD  R√©publique D√©mocratique du Congo-Kongo-Kong√≥-K...
1      CF   R√©publique Centrafricaine-K√∂d√∂r√∂s√™se T√Æ B√™afr√Æka
2      CG                                  Congo-Kongo-Kong√≥
3      AD                                            Andorra
4      AE                           ÿßŸÑÿ•ŸÖÿßÿ±ÿßÿ™ ÿßŸÑÿπÿ±ÿ®Ÿäÿ© ÿßŸÑŸÖÿ™ÿ≠ÿØÿ©

                          NAME_ENGL                         NAME_FREN  \
0  Democratic Republic of The Congo  R√©publique d√©mocratique du Congo
1          Central African Republic         R√©publique centrafricaine
2                             Congo                             Congo
3                           Andorra                           Andorre
4              United Arab Emirates               √âmirats arabes unis

  ISO3_CODE          SVRG_UN              CAPT EU_STAT EFTA_STAT CC_STAT  \
0       COD  UN Member State          Kinshasa       F         F       F
1       CAF  UN Member State            Bangui       F         F       F
2       COG  UN Member State       Brazzaville       F         F       F
3       AND  UN Member State  Andorra la Vella       F         F       F
4       ARE  UN Member State         Abu Dhabi       F         F       F

                        NAME_GERM  \
0    Demokratische Republik Kongo
1    Zentralafrikanische Republik
2                           Kongo
3                         Andorra
4  Vereinigten Arabischen Emirate

                                            geometry
0  POLYGON ((25.54286 5.37172, 25.82869 5.21165, ...
1  POLYGON ((22.87778 10.92056, 23.01306 10.69528...
2  POLYGON ((17.41566 3.68045, 18.19022 3.50343, ...
3  POLYGON ((1.44257 42.60367, 1.53823 42.6412, 1...
4  MULTIPOLYGON (((56.38117 25.32389, 56.35988 25...
¬°Shapefile listo! Ahora lo puedes abrir en QGIS con solo Europa y tus datos de esperanza de vida.

C:\Users\isaw9\AppData\Local\Temp\ipykernel_25964\1019966258.py:33: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  europa_shp.to_file("europa_life_expectancy_2023.shp")
c:\Users\isaw9\anaconda3\Lib\site-packages\pyogrio\raw.py:723: RuntimeWarning: Normalized/laundered field name: 'Unnamed: 0' to 'Unnamed_ 0'
  ogr_write(
c:\Users\isaw9\anaconda3\Lib\site-packages\pyogrio\raw.py:723: RuntimeWarning: Normalized/laundered field name: 'Period life expectancy at birth' to 'Period lif'
  ogr_write(